Transparent/.vs/
Transparent/Transparent.csproj
Transparent/Transparent.sln
Transparent/Library/
Float/.vs/
Float/Float/bin/
Float/Float/obj/
Transparent/Temp/
Transparent/Transparent.Editor.csproj
Transparent/AssetBundles/
Transparent/Assets/StreamingAssets/
Transparent/Assets/StreamingAssets.meta
Transparent/Output/
Transparent/Assets/StoreAssets.meta
Transparent/Assets/StoreAssets/
CompileDll/.vs/
CompileDll/CompileDll/bin/
CompileDll/CompileDll/obj/
UnityToDll/.vs/
UnityToDll/bin/
UnityToDll/UnityEditorDll/obj/
UnityToDll/UnityToDll/obj/
UnityToDll/UnityRuntimeDll/obj/
